html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
}

.header {
    width: 100%;
    padding: 30px 30px;
    background: transparent;
    position: absolute;
    z-index: 999;
}

.banner_main-test {
    padding: 300px 0px 0px 0px;
    min-height: 1150px;

    border-style: solid;
    border-color: 3px black;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/*-- testpage layouting --*/
.row-test {
    overflow: hidden;
    border-style: solid;
    border-color: 3px black;
}

.col-test-logo {
    float: left;
    width: 45%;
    padding: 0 10px;

    border-style: solid;
    border-color: 3px black;
}

.col-test-cam {
    float: left;
    width: 10%;

    border-style: solid;
    border-color: 3px black;
}

.col-test-timer {
    float: right;
    width: 45%;
    padding: 0 10px;
    font-size: medium;
    font-weight: bold;

    border-style: solid;
    border-color: 3px black;
}

.profile-logo-test img {
    width: 20%;
}

.cam-box {
    align-content: center;
}

.cam-box video {
    width: 100%;
}
/*-- end testpage layouting --*/

/*-- testpage views --*/
.body-row {
    padding: 0 30px;
}

.left-col {
    float: left;
    width: 20%;
    padding: 0 5px;

    border-style: solid;
    border-color: 3px black;
}

.right-col {
    float: right;
    width: 80%;
    padding: 0 10px;

    border-style: solid;
    border-color: 3px black;
}

.nomor-tes {
    border-radius: 4px;
    border-style: solid;
    border-color: 3px rgb(134, 140, 255);
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 0 0px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}

.active {
    background-color: rgb(70, 70, 247);
    color: white;
}

.submitButton {
    margin-top: 15px;
}
/*-- end testpage views --*/

